<div class="user-details-container container offset-sm-1 col-sm-12">
    <div class="header-layout col-sm-10 mt-4">
        Registered Users
    </div>
    <div class="table-layout col-sm-10">
        <div class="d-flex justify-content-center p-2">
            User Details
        </div>
        <div >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-3">User Name</th>
                        <th class="col-sm-3">Email</th>
                        <th class="col-sm-5">Address</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="userDetails && userDetails.length>0">
                    <tr *ngFor="let userItem of userDetails;let tableIndex = index">
                        <td class="col-sm-3">{{userItem.userName}}</td>
                        <td class="col-sm-3">
                            <a >{{userItem.email}}</a>
                        </td>
                        <td  class="col-sm-5">
                            <div class="address-body d-flex pb-2 flex-column" *ngFor="let addressItem of userItem.address">
                                <div>City: {{addressItem.city}}</div>
                                <div>State: {{addressItem.state}} </div>
                                <div>Pincode: {{addressItem.pincode}}</div>
                            </div>
                        </td>
                        <td class="col-sm-1">
                            <span (click)="deleteSelectedUserDetails(tableIndex)">&#10060;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!userDetails.length" class="col-sm-12">
                <div class="d-flex justify-content-center"> No User Details Found</div>
              </div>
        </div>
    </div>
</div>