<div class="registration-container container offset-sm-1 col-sm-12">
    <div class="row my-1">
        <div class="header-layout col-sm-7">
            Sign In
            <hr>
        </div>
        <div class="form-layout col-sm-9">
            <form class="row">
                <div class="col-sm-7">
                    <div class="py-1 px-3">
                        <label for="exampleFormControlInput1" class="form-label">User Name</label>
                        <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
                    <div class="py-1 px-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
                </div>
                <div class="address-section col-sm-12 mt-2">
                    <div class="col-sm-12">
                    <h6 class="py-2 px-3">Address</h6>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="py-1 px-3">
                                <label for="exampleFormControlTextarea1">City:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                            </div>
                            <div class="py-1 px-3">
                                <label for="exampleFormControlTextarea1">State:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                            </div>
                            <div class="py-1  px-3">
                                <label for="exampleFormControlTextarea1">Pin code:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="d-grid gap-2 d-md-flex my-2 mx-3 justify-content-md-end">
                        <button class="btn btn-primary p-2" type="button">Add Address</button>
                        <button class="btn btn-primary p-2" type="button">Delete Address</button>
                    </div>
                </div>
                <div class="action-btn d-grid  mt-3 justify-content-sm-end col-sm-11">
                    <button type="button" class="btn btn-primary px-5 py-2" disabled>Register User</button>
                </div>
            </form>
        </div>
    </div>
</div>