$lightBackground: #FCFCFF;
$bgSecondary: #F0F0F0;
$btnClrPrimary: #1E90FF;
$clrDanger:#FF0000;
$textClrPrimary: #000000;
$textClrInfo:#696969;
$textClrSecondary: #FFFFFF;
$shadowClr: #00000033;
$fontFamilyPrimary:Arial, Helvetica, sans-serif;
$fontFamilySecondary:Times New Roman, Times, serif;
$fontBold: bold;
 $fontNormal: normal;
 $fontLight: lighter;

/* mixin for  background color*/

@mixin bg-clr($bv-color) {
  background-color: $bv-color;
}

/* mixin for text color */
@mixin text-elements($txt-color, $fontsize, $fontFamily, $fontWeight) {
  color: $txt-color;
  @if $fontsize {
   font-size: $fontsize;
  }
  @if $fontFamily {
    font-family: $fontFamily;
  }
  @if $fontWeight {
    font-weight: $fontWeight;
  }
}
/* mixin for border line */
@mixin border-line($size, $weight, $clr) {
  border: $size $weight $clr;
}
/* mixin for border radius */

@mixin border-radius($top, $right, $bottom, $left) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}

@mixin border-single-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}




